@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #000000;
  --color-secondary: #f6f6f6;
  --color-tertiary: #22d4fd;
  --color-hover: #272727;

  --font-primary: "Krona One", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}


.cabecalho {
  padding: 2% 0 0 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 600;
  color: #22d4fd;
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: var(--font-primary);
}


.apresentacao__conteudo__titulo {
  font-size: 36px;
}

.titulo-destaque {
  color: var(--color-tertiary);
}

.apresentacao__conteudo__paragrafo {
  font-size: 24px;
  font-family: var(--font-secondary);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--color-tertiary);
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--color-secondary);
  font-family: "Montserrat", sans-serif;
}

.apresentacao__links__link:hover {
  background-color: var(--color-hover);
}

.rodape {

  padding: 24px;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  text-align: center;
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 400;
}